form {
  width: 30%;
  margin: 0 auto;
  margin-top: 20%;
}

form .search {
  opacity: 0.8;
  height: 30px;
  border-radius: 0;
}

.data, 
.err,
.return {
  width: 30%;
  margin: 0 auto;
  margin-top: 2%;
  display: block;
  opacity: 0.8;
  text-align: center;
}

.continue,
.mainpage {
  font-weight: bold;
}

.continue:hover,
.mainpage:hover {
  text-decoration: underline;
  cursor: pointer;
}

.result,
.wait {
  width: 80%;
  margin: 0 auto;
  margin-top: 2%;
  display: block;
  opacity: 0.8;
}

.result .titlebar {
  width: 100%;
  font-weight: bold;
}

.result .contentbar {
  width: 100%;
}

.result .titlebar .infobox,
.result .contentbar .infobox {
  float: left;
}

.result .titlebar .numbox,
.result .contentbar .numbox {
  width: 5%;
}

.result .titlebar .authorbox,
.result .contentbar .authorbox {
  width: 50%;
}

.result .titlebar .favbox,
.result .contentbar .favbox {
  width: 5%;
}

.result .titlebar .entrydatebox,
.result .contentbar .entrydatebox {
  width: 20%;
}

.result .titlebar .editdatebox,
.result .contentbar .editdatebox {
  width: 20%;
}

.wait {
  display: none;  
}

footer {
  width: 30%;
  margin: 0 auto;
  margin-top: 2%;
  opacity: 0.8;
  font-size: 0.8em;
  text-align: center;
  border-top: 1px solid lightgrey;
}

footer a {
  color: black;
  opacity: 0.8;
  text-decoration: none;
}

footer a:hover {
  color: black;
  text-decoration: underline;
}

footer a:active {
  color: black;
  text-decoration: underline;
}

